
<header id="header-main"> 
    <nav id="nav-main">
    <a href="/signin">Se connecter</a>
    <a href="/signup">S'inscrire</a>
    <a href="/logout">Se déconnecter</a>
    <a href="/game">Jouer</a>
    <a href="/game/rules">Règles du jeu</a>
    <a href="/player">Ton profil</a>
    <a href="/recipes">Tes recettes</a>
    <a href="/">Page d'accueil</a>
    </nav>
</header>
<aside id="sidebar">
    <img id ="iconBurger" src="/images/pixelarts/28156932.jpeg" alt="a cauldron"></img>
    <nav id="nav-mobile">
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/signin">_Se connecter</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/signup">_S'inscrire</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/logout">_Se déconnecter</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/game">_Jouer</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/game/rules">_Règles du jeu</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/player">_Ton profil</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/recipes">_Tes recettes</a></div>
        <div class="a-mobile-div"><a class="mobile-nav-a" href="/">_Page d'accueil</a></div>
    </nav>

</aside>
