<a href="/signin">Se connecter</a>
<a href="/signup">S'inscrire</a>
<a href="/logout">Se déconnecter</a>
<a href="/game">Jouer</a>
<a href="/game/rules">Les règles du jeu</a>
<a href="/player">Votre profil</a>
<a href="/recipes">Vos recettes</a>