<h2>Jouer</h2>

<div id="text-intro">
  <p>Prêt à survivre en pleine nature ?</p>
  <p>En fonction de ta forme, opte pour l'option de ton choix :</p>
</div>

<div id="link-modes">
  <a href="/game/{{links.balade}}/begin">Balade</a>
  <a href="/game/{{links.rando}}/begin">Rando</a>
  <a href="/game/{{links.trek}}/begin">Trek</a>
</div>

