<main id="content-main">
    <div id="main-title-card">
        <h2>CITROUILLE</h2>
        <img id="home-main-picture" src="/images/pixelarts/home.png" alt="pixel-art picture of a plant">
        <h2>OU CIGÜE ?</h2>
    </div>
    <div class="main-btns-box">
        <a id="game-btn" class="main-btn" href="/game">Jouer</a>
        <a id="rules-btn" class="main-btn" href="/game/rules">Les règles</a>
    </div>
</main>


