<h2>Player Profile</h2>

<div>
    
    <p> Pseudo : {{player.pseudo}}</p> 
    <p> Email : {{player.email}}</p>
</div>
<div>
    <a href="/player/update"> Modifier le profil</a>
    <a href="/auth/logout"> Déconnexion</a>
    <a href="/player/delete"> Supprimer le profil</a>
</div>

{{!-- MY PLANT COLLECTION  --}}
{{!-- plants les plus reconnus  --}}

{{!-- RECIPES  --}}
{{!-- Liste de recette :

 Titre recette  
 Duration
 EDIT + DELETE

 
 --}}