<h2>{{player.pseudo}}</h2>

<div>
    <p> Email : {{player.email}}</p>
</div>

<div>
    <a href="/player/update"> Modifier le profil</a>
    <a href="/logout"> Déconnexion</a>
    <a href="/player/delete"> Supprimer le profil</a>
</div>

{{!-- MY PLANT COLLECTION  --}}
{{!-- plants les plus reconnus  --}}

{{!-- RECIPES  --}}
<h3>Vos recettes</h3>
{{#if recipesToDisplay}}
    {{#each recipesToDisplay}}
        {{> recipeOneList}}
    {{/each}}
{{else}}
    <p>Vous n'avez pas encore de recettes à afficher</p>
{{/if}}
