<section class="signup form-container">
    <div id="big-div">
        <header class="form-header">
            <h1 class="form-title">S'inscrire</h1>
        </header>
        
          {{> flashMessage}}
        
         {{!--
          {{#if msg}} VOIR msg
            <p class="message {{msg.status}}">{{msg.text}}</p>
        {{/if}}
         --}}
         <form method="post" action="/signup" id="form-user">
            <div class="form-item-wrapper flexed-item">
                <label for="pseudo" class="label-ref label">Pseudo</label>
                <input id="pseudo" name="pseudo" type="text" class="input-text input" placeholder="Albert" required value="Beyoncé">
            </div>
            <div class="form-item-wrapper flexed-item">
                <label for="email" class="label-ref label">Email</label>
                <input id="email" name="email" type="email" class="input-text input" placeholder="albert.biceps@gmail.com" required value="Beyonce@gui.com">
            </div>
            <div class="form-item-wrapper flexed-item">
                <label for="password" class="label-ref label">Mot de passe</label>
                <input id="password" name="password" type="password" class="input-text input" placeholder="mot de passe" required value="1234">
            </div>
            <div>
                <button class="button-primary white">S'inscrire</button>
            </div>

            {{!-- <div class="pixel-container">
            <img src="/images/pixelarts/champi-pixel-mario-green.png" alt="champignon vert">
            <img src="/images/pixelarts/fleur-pixel-mario-bleue.jpeg" alt="fleur bleu">
            <img src="/images/pixelarts/champi-pixel-mario-red.png" alt="champignon rouge"> --}}
          {{!-- </div> --}}
         </form>
            <div id="avatar-view"></div>
    </div>

</section>