/* CSS for RECIPES VIEWS */
/* 
body {
    background-color: var(--dark-green);
} */

body {
    background-image: url("/images/backgrounds/rando5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
  } 
  

#container {
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* *** RECIPES LIST *** */

#recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipes-title {
    text-align: center;
}
#recipes-title h2 {
    font-size: 3.5rem;
}
#recipes-title h3 {
    font-size: 2.5rem;
}

.filter-addrecipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 2.1rem;
    font-family: roboto;
    width: 60vw;
}

#filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
}

#plants-checkbox-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plant-checkbox-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.plant-checkbox-item div {
    width: 100% ;
}

.plant-checkbox-item div:first-child {
    width: 40%;
    padding-right: 10px;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: flex-end;
}

.plant-checkbox-item .checkbox {
    max-width: 10%;
}


#add-new-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-icon {
    width: 8rem;
}

#recipes-list {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px
}

.recipe-list-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
    font-family: roboto;
}

.recipe-list-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

/* *** RECIPES ADD FORM *** */

#add-form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-form-title {
    margin: 20px;
    text-align: center;
}

#add-form-title h2 {
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}


#add-form-title a {
    font-family: Roboto;
    font-size: 1.8rem;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
}

#add-form-container form{
    font-family: roboto;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    gap: 20px;
    margin-top: 20px
}

#add-form-container form label, input {
    width: 60vw;
    text-align: center;
}

.plant-option {
    font-family: roboto;
    font-size: 2rem;
    width: 60vw;
    border-radius: 10px;
}

#add-form-container form input {
    border-radius: 10px;
    height: 3rem;
    font-size: 2rem;
}

#instructions {
    width: 60vw;
    text-align: center;
    border-radius: 10px;
}

#image-upload-box {
    text-align: center;
}

#submit-create-form {
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    font-family: roboto;
    font-size: 2rem;
    cursor: pointer;
}

#submit-create-form:hover {
    font-size: 2.2rem;
    transition: 00.5s ease-in-out;
}

/* *** DISPLAY ONE RECIPE *** */

#one-recipe-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recipe-title h2 {
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 3rem;
    text-align: center;
    width: fit-content;
}

#one-recipe-top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    gap: 20px;
}

#one-recipe-top-links a {
    width: 40px;
    padding: 10px;
}

#one-recipe-top-links a:hover {
    width: 45px;
    transition: 0.2s ease-in-out;
}

#recipe-card {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px
}

#recipe-card-top {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

#recipe-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#recipe-core {
    align-self: flex-start;
    font-family: Roboto;
    font-size: 2rem;
}

/* *** EDIT ONE RECIPE *** */

#edit-recipe-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-recipe-main form{
    font-family: roboto;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    gap: 20px;
    margin-top: 20px
}

#edit-recipe-main form label, input {
    width: 60vw;
    text-align: center;
}

#plant {
    font-family: roboto;
    font-size: 2rem;
    width: 60vw;
    border-radius: 10px;
}

#edit-recipe-main form input {
    border-radius: 10px;
    height: 3rem;
    font-size: 2rem;
}


#submit-edit-form {
    padding: 10px;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    border-radius: 20px;
    font-family: roboto;
    font-size: 2rem;
    cursor: pointer;
}

#submit-edit-form:hover {
    font-size: 2.2rem;
    transition: 00.5s ease-in-out;
}
@media(max-width : 600) {
    #add-form-container form label, input {
        width: 90vw;
    }
}